
html {
    background-color: #F6F1F1;
}
h1{
    color:#146C94;
    font-size: 16pt;
}
h2{
    color:#146C94;
    font-size: 14pt;
}
strong{
    color: #AFD3E2;
    font-size:  12pt;
}
img{
    height: 175px;
    width: 175px;
    border: 2px solid black;
}
#blue-header {
    background-color: #AFD3E2;
}
a[href]{
    color:#19A7CE;
    font-family: sans-serif;
}